# Folders
/scripts

# compiled output
/build
/tmp
/out-tsc
/logs
/coverage
/backup
/ssl
/localStorage
/target

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# extra
.git
.gitignore
.snyk
.travis.yml
Jenkinsfile
docker-compose.yml
docker-compose.prod.yml
jest.config.js
jest.setup.js
app.png
.eslintrc.json
.eslintignore
.env.example
CHANGELOG.md
README.md