NODE_ENV=development
TZ=America/Fortaleza

SERVER_PORT=3000
SERVER_BODY_LIMIT=500kb
SERVER_URL=http://localhost:3000

DB_HOST=localhost
DB_PORT=3307
DB_USERNAME=root
DB_PASSWORD=admin
DB_DATABASE=finance
DB_DEBUG=false

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PREFIX=finance

APM_SERVER_URL=http://localhost:8200
APM_SERVICE_NAME=finance
APM_API_KEY=
APM_SECRET_TOKEN=

EMAIL_TYPE=gmail
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=teste@gmail.com
EMAIL_PASSWORD=
EMAIL_OAUTH2_CLIENTID=
EMAIL_OAUTH2_CLIENTSECRET=
EMAIL_OAUTH2_REFRESHTOKEN=
EMAIL_OAUTH2_REDIRECT_URI=https://developers.google.com/oauthplayground

BRAPI_URL=https://brapi.ga/api
MERCADO_BITCOIN_URL=https://www.mercadobitcoin.net

YAHOO_FINANCE_URL=https://yfapi.net
YAHOO_FINANCE_KEY=

NEWS_URL=http://api.mediastack.com
NEWS_KEY=

IEXCLOUND_URL=https://cloud.iexapis.com/stable
IEXCLOUND_LIMIT_USAGE=50000
IEXCLOUND_KEY=
IEXCLOUND_KEY_ADMIN=

YIELD_URL=

CURRENCY_URL=https://economia.awesomeapi.com.br

BCB_URL=https://www.bcb.gov.br

BACKUP_DB=false

ELASTIC_VERSION=7.15.0
MYSQL_MODE=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION